header{height: 200px;
    background-image: linear-gradient(to right,#910404 40%,#7d1d1da9 60%); 
}

*{
    margin: 0;
    padding: 0;
}

.title{
text-align: center;
margin: 00;
padding: 25px 0;
color: #f0f8ff;
text-shadow: 3px 3px 1px  #D60606;
font-family: 'Kaushan Script',sans-serif;
}
.links{
  color: #f0f8ff;
  border-width: 10px; 
  }
a{
  color: #f0f8ff;
  margin-right: 100px;
  text-decoration: none;
  text-shadow: 2px 2px 1px  #D60606;
  font-weight: bold;
  border-radius: 5px;
  transition-duration: 0,5s;
  }
  nav > a:hover{
    background-color: #fdfdfd;
    padding: 5px;
  }

  main{background-color: #FA2F05;
    border: 1px solid #F20707 ;
    border-margin: 5px;
    padding: 20px;
    box-shadow: 10px 15px   #F20707;
    margin: 35px;
    border-radius: 5px;
  }
  .primtext{ text-align: justify;
text-indent: 30px;}

.title01{ font-size: 45px;
text-align:center ;
color: #ffffffa6;
text-shadow: 2px 2px 2px  #f04f4f;
font-family: 'Kaushan Script', sans-serif;
}

div.1{
  text-indent: 30px;
  margin:  1cm 1cm 1cm;
}

iframe{
    display: block; margin-left: auto; margin-right: auto; ;
  }

.imgtext1{
    color: #D60606;
  font-size: 22px;
  text-align: center;
  font-family: 'Kaushan Script',
sans-serif;
}
.fim{ color: #ffffffa6;
    text-shadow: 2px 2px 2px  #f04f4f;
    text-align: center;
    margin-right: 100px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0,5s;
}
.fim:hover{
   color: #63190A;

}
.title02{ font-size: 25px;
    text-align:left;
    text-align: start;
    color: #ffffffb1;
    text-shadow: 2px 2px 2px  #f04f4f;
    font-family: 'Kaushan Script', sans-serif;

    margin-right: 100px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0,5s;
    }
    .title02:hover{
        color: #63190A;
    }